*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    perspective: 600px;
    background-color: #fbf5ef;
}
.header_div1{
    width:100% ;
    height:35px ;
}
.header_parent1 ,.footer_parent ,.section2_parent{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}
.header_links1{
    margin-top: -7px;
}
.header_links2{
    margin-left: -234px;
}
.header_links3{
    margin-right: -210px;
}
.header_links li{
    list-style:none;
    display:inline-block;
    text-transform: capitalize;  
    margin: 16px 0px 20px 20px;
}
.header_links li a{
    text-decoration: none;
    color: black;
    position: relative;
}
.header_links1 li a::after{
    position: absolute;
    content: "";
    width: 2px;
    height: 0;
    border-left: 1px solid #a4927f;
    left: 0;
    top: 0;
    background-color: #a4927f;
    opacity: 0;
    margin: 0 -10px;
}
.header_links1 li a::before{
    position: absolute;
    content: "";
    width: 2px;
    height: 0;
    border-right: 1px solid #a4927f;
    bottom:  0;
    right: 0;
    background-color: #a4927f;
    opacity: 0;
    margin: 0px -10px;
}
.header_links1 li a:hover::after,.header_links1 li a:hover::before{
    width: 2px;
    height: 20px;
    opacity: 1;
    transition: 0.5s;
}
.header_links5 li a{
    padding: 15px 10px;
    margin-right: -10px;
}
.header_links5 li a::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    border-left: 2px solid #a4927f;
    border-right: 2px solid #a4927f;
    bottom: 0px;  
    left: 0;  
}
.header_links5 li a:hover::after{
    width: 100%;
    height: 100%;
    transition: 0.5s;
}
.header_links5 li a::before{
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    border-top: 2px solid #a4927f;
    border-bottom: 2px solid #a4927f;
    left:0px;
    top: 0px; 
}   
.header_links5 li a:hover::before{
    width: 100%;
    height: 100%;
    transition: 0.5s;
}
.header_links5{
    font-size: 18px;
    margin-left: -80px;
}
.dropdown{
    width: 280px;
    height: 196px;
    background-color: #f0e7de;
    position: absolute;
    margin-left: 915px ;
    display: flex;
    margin-top:18px;
    margin-left: -70px;
    border-radius: 10px;
    box-shadow: 1px 1px 2px #00000070, -1px -1px 2px #00000070;
    z-index: 5;
    visibility: hidden;
    opacity: 0;
    transform: translateY(10px);
    pointer-events: none;
    transition: 0.3s ease;
}
.dropdown .dropdown_list li{
    display: block;
}
.dropdown_list li {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
}
.pages1 {
    position: relative;
}
.pages1 .dropdown {
    transform: translateX(-50%) scale(0); 
    transform-origin:right center; 
    transition: 1s;
    opacity: 0;
}
.pages1:hover .dropdown {
    transform: translateX(-50%) scale(1); 
    transform: translateY(0);
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
}
.dropdown_list li a{
    text-decoration: none;
    color: black;
    font-size: 18px;
}
.dropdown_list li .dropdown_list_a1{
    display: inline-block;
    color: #999;
    border-bottom: 1px dotted #999;
    margin: 0px 5px;
    width: fit-content;
}
.dropdown_list li .dropdown_list_a2{
    display: inline-block;
    margin: -9px 5px;
}
.dropdown_list li .dropdown_list_a2:hover{
    color: #a4927f;
    transform: scale(1.1,1);
}
.dropdown a:hover::before,
.dropdown a:hover::after {
    border: none ;
}
.header_circle{
    position: relative;
}
.header_circle::after{
    content: "2";
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    text-align: center;
    background-color: #a4927f;
    font-size: 18px;
    top: -18px;
    left: 2px;
    color: #fff;
}
.header_circle:hover::after{
    transition: 0.5s;
    top: -21px;
}
.header_div2{
    width: 100%;
    height: 80px;
}
.header_links4{
    padding-top: 10px;
}
.header_links6{
    margin-left: -20px;
    font-size: 20px;
}
.header_div3{
    width: 100%;
    height: 45px;
    background-color: #dccfc3;
    text-align: center;
}
.header_p{
    width: 500px;
    height: 12px;
    color: #7e7162;
    font-size: 19px;
    text-transform: capitalize;
    padding-top: 10px;
    display: inline-block;
    transition: transform 0.3s ease;
}
.header_ai:hover{
    transform: scale(1.1,1);
}
.header_p:has(.header_a1:hover) {
    transform: scale(1.05,1);
}
.header_icons1:hover{
    transform: rotateY(180deg);
}
.header_icons2:hover,.header_icons1:hover{
    color: #a4927f;
}
.header_a1{
    text-transform: capitalize;
    color: #5a4c3c;
}
.header_a1:hover .header_p{
    transform: scale(1.5,1);
}
main{
    height: 88vh;
    width: 100%;
    position: relative;
    object-fit: cover;
}
.main_img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.main_content{
    text-transform: capitalize;
    position: absolute;
    width:450px ;
    height: 450px;
    margin: 200px 200px ;
}
.main_span{
    font-size: 45px;
    margin: 0px 70px;
    color: #7a6955;
    font-family: "Clicker Script", cursive;
}
.main_title{
    font-size: 40px;
    margin: 30px 0px;
    color: #6f5f4d;
}
.main_p{
    font-size: 18px;
    margin:0px 0px 20px 20px;
    line-height: 1.3;
    color: #564839;
}
.main_btn{
    height: 60px;
    width: 160px;
    border: 0;
    color: white;
    background-color: #cbbeb1;
    margin:10px 0px 0px 140px;
    font-size: 18px;
    text-transform: uppercase;
}
.main_btn:hover{
    border: 1px solid black;
    background-color: #dccfc3;
    color: black;
    transition: 0.5s;
}
.section1_parent,.section5_parent{
    display: grid;
    position: relative;
}
.section1_parent{
    grid-template-rows: 380px; 
    grid-template-columns: repeat(3,27.5%);
    grid-column-gap: 9%;
}
.section1_item:hover .section1_div1{
    position: relative;
    top: -100px;
    transition: 1s;
}
.section1_item:hover .section1_img{
    transform: scale(1.03,1.03);
    transition: 1s;
}
.section1_div1{
    position: relative;
    top: -60px;
    z-index: 5;
    text-align: center;
}
.section1_h2{
    color: #fff;
    font-size: 25px;
    text-transform: capitalize;
}
.section1_a{
    display: none;
    padding-top: 20px;
    color:#a4927f;
    text-transform: capitalize;
    font-size: 22px;
}
.section1_a:hover{
    transform: scale(1.15,1);
    transition: 0.3s;
}
.section1_item:hover .section1_a{
    display: inline-block;
}
.section1_h3{
    margin-left: -15px;
}
.section1_h4{
    margin-left: -10px;
}
.overlay{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30%;
    background:-webkit-linear-gradient(bottom ,#000000, #00000009);
    z-index: 5;
}
.section5_parent{
    grid-template-rows: 600px;
    grid-template-columns: repeat(3,30%);
    grid-column-gap: 5%;
}
.section1_parent{
    margin: 42px 7%; 
}
.section1_item{
    position: relative;
    width: 400px;
    height: 400px;
    overflow: hidden;
}
.section2{
    width: 100%;
    height: 300px;
    margin-top: 125px;
}
.section2_links li{
    list-style: none;
    display: inline-block;
    font-size: 20px;
    margin-right: 25px;
}
.section2_links li a:not(.section2_a){
    text-decoration: none;
    color: black;
}
.section2_parent{
    text-transform: capitalize;
    position: relative;
}
.section2_title1{
    margin-left: 22px;
    font-size: 40px;
    color:#5a4c3c ;
}
.section2_links{
    margin-left: 700px;
    margin-top: 5px;
}
.section2_a{
    color: #7b6a56;
    text-decoration: none;
    position: relative;
}
.section2_line1{
    position: absolute;
    width: 50px;
    height: 5px;
    background-color: #7b6a56;
    margin-top: 39px;
    margin-left: -2px;
}
.footer_line ,.section2_line{
    width:86%;
    height:1px;
    background-color: #999;
    margin: auto;
}
.section2_line{
    margin-top: 25px;
}
.section2_parent1,.section4_parent1{
    display: grid;
    grid-template-columns: repeat(4,23.9%);
    grid-template-rows: 500px;
    grid-column-gap: 1.5%;
    margin:-215px 7% 0 7%;
    position: relative;
}
.section2_icon3 ,.section4_icon3{
    font-size: 35px;
    color: #a4927f;
}
.section2_icon3:hover ,.section4_icon3:hover,.section3_icon:hover{
    color: #7b6a56;
}
.section2_icon4,.section3_icon1{
    margin-left: 5.5%;
}
.section2_icon5{
    margin-left: 86%;
}
.section4_icon4{
    margin-left: 5.5%;
    margin-top: 255px;
}
.section4_icon5{
    margin-left: 93%;
    margin-top: 260px;
}
.section4_icon4,.section4_icon5{
    position: absolute;
}
.section2_span,.section4_span{
    text-decoration: line-through;
}
.section4_div2,.image-container{
    position: relative;
}
.section4_img{
    position: absolute;
    object-fit: cover;
}
.image-container {
    position: relative;
    width: 100%;
    height: 375px;
    overflow: hidden;
    perspective: 800px;
}
.image-container .main-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
.image-container .hover-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: rotateY(90deg); 
    opacity: 0;
    transition: transform 0.8s ease, opacity 0.6s ease;
    backface-visibility: hidden;
}
.image-container:hover .hover-img {
    transform: rotateY(0deg); 
    opacity: 1;
}
.section2_content{
    margin: 400px 100px 0px 80px;
    position: absolute;
}
.section4_content{
    margin: 390px 100px 0px 80px;
}
.section2_content2{
    margin: 400px 100px 0px 470px;
}
.section2_content3{
    margin: 400px 100px 0px 840px;
}
.section2_content4{
    margin: 400px 100px 0px 1240px;
}
.section2_content a,.section2_content1 a,.section4_content a{
    display: block;
    text-transform: capitalize;
    text-decoration: none;
    font-size: 23px;
    width: 250px;
    margin-bottom: 10px;
    color: black;
}
.image-container:hover + .section2_content1 a,
.image-container:hover + .section2_content2 a,
.image-container:hover + .section2_content3 a,
.image-container:hover + .section2_content4 a {
    color: #a4927f;
}
.section4_div2:hover a{
    color: #a4927f;
}
.section2_content span,.section4_content span{
    font-size: 20px;
    margin-left: 18px;
}
.section2_icon,.section4_icon,.section3_icon{
    font-size: 28px;
    width: 20px;
    height: 20px;
    color: black;
}
.section2_icons,.section4_icons{
    display: flex;
    background-color: #fff;
    width: 210px;
    height: 50px;
    position: absolute;
    bottom: 30%;
    left: 19%;
    visibility: hidden;
    z-index: 10;
}
.section2_icons{
    bottom: 5%;
}
.section2_icons a ,.section4_icons a{
    height: 100%;
    width: 33.3%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.section2_icons a:hover, .section4_icons a:hover{
    background-color: #a4927f;
    transition: 0.5s ;
}
.section2_icons a:hover .section2_icon,.section4_icons a:hover .section4_icon{
    color: #fff;
    transition: 0.5s;
}
.image-container:hover .section2_icons,.section4_div2:hover .section4_icons{
    visibility: visible;
}
.section3_parent{
    display: flex;
    flex-direction:column ;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 400px;
    background-color: #f0e7de;
    margin-top: 70px;
    box-shadow: 1px 1px 2px #777 ,-1px -1px 2px #777 ;
}
.section3_div2{
    position: relative;
    margin:20px 0px 0px 180px;
}
.section3_title{
    text-transform: capitalize;
    font-size: 36px;
    margin-top: 11px;
    color: #6f5f4d;
}
.section3_p{
    font-size: 28px;
    padding: 0px 430px ;
    line-height: 1.5;
    margin-top: -6px;
    color: #7a6955;
}
.section3_circle{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: black;
    background-image: url(../images/e114bd8ebb8b99f208d182b6dfccc3c5.jpg);
    background-size: cover;
    display: inline;
    position: absolute;
    margin: -20px 0px 0px -90px;
}
.section3_title1{
    font-size: 19px;
    margin-top: -5px;
    color: #6f5f4d;
}
.section3_p1{
    font-size: 18px;
    margin-top: 10px;
    word-spacing: 1.5px;
    color: #7a6955;
}
.section3_icon{
    margin-top: -400px;
    color: #a4927f;
}
.section3_icon1{
    margin: 50px 0px 0px 170px;
    position: absolute;
    font-size: 35px;
}
.section3_icon2{
    position: absolute;
    font-size: 35px;
    margin: -25px 0px 0px 1500px ;
}
.section4_parent1{
    margin-top:58px ;
}
.section4_title{
    margin-top: 80px;
    margin-left: 44%;
    text-transform: capitalize;
    font-size: 33px;
    color: #5a4c3c;
}
.section4_div2::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 0%;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    z-index: 5;
}
.section4_item::after{
    background-image: url(../images/8ad96c306e30abde924e3b36165951db.jpg);
}
.section4_item1::after{
    background-image: url(../images/104e8f16f359b5f3be5cf99981664a28.jpg);
}
.section4_item2::after{
    background-image: url(../images/266883639d540dfc0aef466cbda50668.jpg);
}
.section4_item3::after{
    background-image: url(../images/4044058e23847bc581ffc8755624fb2a.jpg);
}
.section4_div2:hover::after{
    width: 100%;
    height: 75%;
    transition: 1s ease-out;
}
.section5{
    width: 100%;
    height: 765px;
    background-color: #f0e7de;
    margin-top: 65px;
    box-shadow: 1px 1px 2px #777 ,-1px -1px 2px #777 ;
}
.section5_title{
    text-align: center;
    padding-top: 35px;
    font-size: 35px;
    text-transform: capitalize;
    color: #5a4c3c;
}
.section5_parent{
    margin: 35px 7%;
}
.section5_img{
    object-fit: cover;
    object-position: center;
}
.section5_img:hover{
    transform: scale(1.03,1.03);
}
.section5_item:hover h2{
    color: #7b6a56;
}
.section5_item h2{
    cursor: pointer;
}
.section5_a{
    text-transform: capitalize;
    display: inline-block;
    font-size: 22px;
    color: black;
}
.section5_a:hover{
    transform: scale(1.05,1.05);
}
.section5_content{
    padding-top: 20px;
}
.section5_p1{
    text-transform: capitalize;
    font-size: 18px;
    word-spacing: 1.5px;
    padding-bottom: 20px;
    color: #a4927f;
}
.section5_title1{
    padding-bottom: 20px;
}
.section5_p2{
    padding-bottom: 20px;
    font-size: 19px;
    line-height: 1.4;
    color: #a4927f;
}
.section6_parent,.footer_parent1{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}
.section6_parent{
    width: 100%;
    height: 260px;
    padding-top: 70px;
}
.section6_icon{
    position: relative;
    margin-bottom: 10px;
    width: 270px;
    height: 50px;
    overflow: hidden;
    font-size: 50px;
    margin-left: -40px;
}
.section6_icon1{
    position: absolute;
    left: 118px;
    top: 1px;
    transition: 0.1s;
    color: #a4927f;
}
.icon2{
    position: absolute;
    left: 118px;
    top: 55px;
    transition: 0.1s;
    color:#6f5f4d ;
}
.section6_icon:hover .section6_icon1{
    top: -60px;
}
.section6_icon:hover .icon2{
    top: 1px;
}
.section6_title1{
    padding:0px 0px 12px 18px;
    font-size: 21px;
    color: #564839;
}
.section6_p1{
    padding-left: 18px;
    color: #6f5f4d;
    font-size: 17px;
}
.section6_icon3{
    margin-left: 30px;
}
.section6_title2{
    margin-left: 45px;
}
footer{
    width: 100%;
    height: 550px;
    background-color: #ebe0d5;
    color: #5a4c3c;
}
.footer_parent{
    padding: 50px 0px 5px 0px;
}
.footer_title1,.footer_p1{
    text-transform: capitalize;
    margin-left: -1px;
}
.footer_title1{
    margin-top: -18px;
    padding-bottom: 20px;
    font-size: 28px;
}
.footer_p1{
    font-size: 18px;
}
.footer_btn,.footer_form{
    display: inline-block;
}
.footer_input{
    width: 400px;
    height: 48px;
    border: 0;
    text-transform: capitalize;
    padding: 10px;
    font-size: 22px;
    margin:-5px 0px 0px -60px;
}
.footer_btn{
    width: 150px;
    height: 48px;
    background-color: #a4927f;
    border: 0;
    position: relative;
    margin-left:  6px;
    color: white;
    font-size: 22px;
}
.footer_btn:hover{
    transform: scale(1.08,1.1);
}
.footer_icons a{
    font-size: 23px;
    display:inline-block;
    color: #a4927f;
    margin-top: 5px;
}
.footer_icons a:hover{
    color: #6f5f4d;
    transform: scale(1.1,1.1);
    transition: 0.5s;
}
.footer_icon{
    margin: 0px 10px;
}
.footer_line1{
    margin-top: 11px;
}
.footer_div2{
    margin: 70px 40px 30px 40px;
}
.footer_div2 h2{
    margin-bottom: 30px;
}
.footer_div4{
    margin-left: -77px;
}
.footer_div5{
    margin-left: -5px;
}
.footer_div6{
    margin-left: -2px;
}
.footer_div7{
    margin-left: -50px;
}
.footer_div2 ul li{
    list-style: none;
    margin-bottom: 10px;
    font-size: 18px;
}
.footer_div2 ul li:hover{
    text-decoration: underline;
    transform: scale(1.15,1);
    transition: 0.5s;
}
.footer_div2{
    text-transform: capitalize;
}
.footer_div3{
    margin-left: 90px;
}
.footer_p2{
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
}
.footer_line2{
    margin-top: 5px;
}
.footer_icon1{
    animation-name:change;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;

}
@keyframes change{
    0%{
        color: black;
        
    }
    100%{
        color:#7a6955;
        transform: scale(1.4,1.4);
    }
}
.footer_span1{
    color:#2d2215;
}